<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>NUX 팀 소개</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script>
        function showContactInfo() {
            alert("긴급전화: 010-7832-4105");
        }
        function openContactPage() {
            window.open("/contact", "contactPage", "width=600,height=400");
        }
        function openInputPage() {
          window.location.href = '/input';
      }
    </script>
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='/images/banner.png') }}" alt="NUX 로고" class="logo">
    <h1>팀 소개</h1>
    <p>오픈소스소프트웨어실습</p>
  </header>
  <section class="hero">
    <div class="hero-content">
      <h1>NUX Team</h1>
      <p>오픈소스소프트웨어실습 · 동국대학교</p>
      <p class="subtitle">“데이터로 세상을 더 나은 곳으로”</p>
      <div class="hero-content">
            <!-- ... -->
            <button class="btn-primary" onclick="openInputPage()">
                팀원 정보 입력하기
            </button>
            <button class="btn-primary" onclick="openContactPage()">
                연락 정보
            </button>
      </div>
    </div>
  </section>
  <footer>
    &copy; 2025 Dongguk University NUX Team
  </footer>
</body>
</html>
